*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.NevbarContainer{
    position:relative;
    width:100%;
    height:10vh;
    .innerContainer
    {
        position:relative;
        display:flex;
        justify-content: space-between;
        .innerleft
        {
            position:relative;
            margin:20px;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
        }
        .innerright
        {
            position:relative;
            margin-right: 20px;
            ul{
                position:relative;
                list-style: none;
                display:flex;
                margin:20px;
                font-size: 20px;
            }
            li{
                position:relative;
                margin-left:20px;
            }
        }
    }
}

.homeConatiner
{
    position:relative;
    display:flex;
    width:100%;
    margin-top:10px;
    background:rgb(200, 199, 199);
    .middleHome{
        position:relative;
        width:59%;
        margin:1%;
        height:82vh;
        background:white;
        border-radius: 10px;;
        overflow-y: auto;
        .homeMiddlecontainer{
            position:relative;
            width:100%;
            .homeMiddledown
            {
                position:relative;
                width:98%;
                margin-left:1%;
                height:64.58vh;
                border-radius: 10px;
                background:rgb(247, 251, 247);
                text-align: center;
                font-size: 30px;
                color:rgb(61, 60, 60);
                font-family: 'Courier New', Courier, monospace;
                table{
                    position:relative;
                    margin:2%;
                }
                .heading1
                {
                    position:relative;
                    left: 60px;
                }
                .heading2
                {
                    position:relative;
                    left: 120px;
                }
            }
            .homeMiddleupper{
                position:relative;
                display:flex;
                height:auto;
                .homeMiddle-left{
                    position:relative;
                    width:48%;
                    margin:1%;
                    height:15vh;
                    background:rgb(199, 240, 199);
                    text-align: justify;
                    border-radius: 10px;;
                    p{
                        position:relative;
                        top:30%;
                        margin-left:5%;
                        font-size: 25px;;
                    }
                }
                 .homeMiddle-right{
                    position:relative;
                    width:48%;
                    margin:1%;
                    height:15vh;
                    background:rgb(199, 240, 199);
                    text-align: justify;
                    border-radius: 10px;;
                    p{
                        position:relative;
                        top:30%;
                        margin-left:5%;
                        font-size: 25px;;
                    }
                }
            }

        }
    }
    .rightHome{
        position:relative;
        width:23%;
        margin-top:1%;
        height:82vh;
        border-radius: 10px;
        background:rgb(243, 243, 226);
        .homeright{
            position:relative;
            width:100%;
            border-radius: 10px;
            height:auto;
            text-align: center;
            .homeright1{
                position:relative;
                width:90%;
                margin-top:2%;
                border-radius: 10px;
                
                left:5%;
                height:15vh;
                background:rgb(204, 234, 204);
            }
            .homeright2{
                position:relative;
                width:90%;
                margin-top:2.5%;
                border-radius: 10px;
                left:5%;
                height:15vh;
                background:rgb(206, 222, 206);
            }
            .homeright3{
                position:relative;
                width:90%;
               margin-top:2.5%;
                border-radius: 10px;
                left:5%;
                height:48vh;
                background:rgb(195, 208, 195);
            }

        }

    }
    
    .leftHome
    {
        position:relative;
        width:15%;
        height:auto;
        background:white;
        .leftcontainer
{
    position:relative;
    width:100%;
    height:85vh;
    .leftInner
    {
        position:relative;
        margin-left:20px;
        font-size: 20px;
        top:30px;
        ul{
            list-style: none;
        }
        p{
            position:relative;
            left:18%;
            top:-29px;
        }
    }
}
    }
}
